#course .topic-name img {
    width: 550px;
    object-fit: cover;
}

#course .course-list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 25px;

}

#course .course-list li {
    font-family: "Alegreya";
    font-size: 20px;
    font-weight: 400;
    margin: 24px 0;
    position: relative;
}

#course .course-list li::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--pink-color);
    left: -24px;
    top: 50%;
    transform: translateY(-50%);

}

#course .content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}
#course .course-list li:hover{
font-weight: bold;
cursor:default;
}
/*tablet version*/

@media screen and (max-width:1040px) {
    #course .topic-name img {
        width: 350px;
        height: 280px;
        object-fit: cover;
    }
    
}
/*Smartphone version*/
@media screen and (max-width:720px) {
    #course .topic-name img {
        display: none;
    }

}
