#blog .content-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;

}

#blog .post img {
    width: 100%;
    height: 160px;
    object-fit: cover;
}

#blog .post {
    background-color: white;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    transition: all 400ms ease;
}

#blog .post:hover {
    transform: scale(1.04);
}

#blog .post .tag {
    position: absolute;
    color: #000;
    font-family: Alegreya;
    font-size: 13px;
    font-weight: 700;
    line-height: normal;
    background-color: white;
    padding: 0 16px;
    border-radius: 10px;
    right: 8px;
    top: 8px;

}

#blog .post .post-title {
    color: #000;
    font-family: Alegreya;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 16px 24px;
    margin: 0;
}

#blog .btn-container {
    display: flex;
    justify-content: right;
}

#blog .all-post-btn {
    color: #000;
    margin-top: 30px;
    border-radius: 10px;
    background: #FFF;
    padding: 4px 32px;
    font-family: Alegreya;
    font-size: 16px;
    font-weight: 800;
    line-height: normal;

}

/*Tablet mode */
@media screen and (max-width:1040px) {
    #blog .content-container {
        grid-template-columns: 1fr 1fr;
    }

    #blog .post:nth-child(3) {
        grid-column: 1/3;

    }

}

/*smartphone mode*/

@media screen and (max-width:720px) {
    #blog .content-container {
        grid-template-columns: 1fr;

    }

    #blog .post:nth-child(3) {
        grid-column: 1/2;

    }
}